name: Git Board Flow - Issue

on:
  issues:
    types: [opened, reopened, edited, labeled, unlabeled, assigned, unassigned]

jobs:
  git-board-issues:
    name: Git Board - Issue
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: ./
        with:
          ai-ignore-files: build/*
          debug: ${{ vars.DEBUG }}
          opencode-model: ${{ vars.OPENCODE_MODEL }}
          project-ids: 2
          token: ${{ secrets.PAT }}
