name: Git Board Flow - Check Progress

on:
  push:
    branches:
      - '**'
      - '!master'
      - '!develop'

jobs:
  git-board-check-progress:
    name: Git Board - Check Progress
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: ./
        with:
          debug: ${{ vars.DEBUG }}
          project-ids: 2
          ai-ignore-files: build/*
          single-action: check_progress
          openrouter-api-key: ${{ secrets.OPEN_ROUTER_API_KEY }}
          openrouter-model: ${{ vars.OPEN_ROUTER_MODEL }}
          token: ${{ secrets.PAT }}
