name: Git Board Flow - Update AI Knowledge

on:
  push:
    branches:
      - '**'

jobs:
  update-ai-knowledge:
    name: Git Board - Update AI Knowledge
    runs-on: [self-hosted, macOS, X64]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update AI knowledge
        uses: ./
        with:
          debug: ${{ vars.DEBUG }}
          ai-ignore-files: build/*
          openrouter-api-key: ${{ secrets.OPEN_ROUTER_API_KEY }}
          openrouter-model: ${{ vars.OPEN_ROUTER_MODEL }}
          project-ids: 2
          single-action: ai_cache_action
          supabase-url: ${{ secrets.SUPABASE_URL }}
          supabase-key: ${{ secrets.SUPABASE_KEY }}
          token: ${{ secrets.PAT }}
